<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
	<dict>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleDevelopmentRegion</key>
		<string>English</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>JXplorer LDAP Browser</string>
		<key>CFBundleExecutable</key>
		<string>JXplorer LDAP Browser</string>
		<key>CFBundleVersion</key>
		<string>3.2.1</string>
		<key>CFBundleGetInfoString</key>
		<string>JXplorer LDAP Browser Pegacat Software</string>
		<key>CFBundleIconFile</key>
		<string>LaunchAnywhere.icns</string>
		<key>Java</key>
		<dict>
			<key>JVMVersion</key>
			<string>1.4+</string>
			<key>ClassPath</key>
			<array>
				<string>jars/help.jar</string>
				<string>jars/jhall.jar</string>
				<string>jars/junit.jar</string>
				<string>jars/jxplorer.jar</string>
				<string>$JAVAROOT/lax.jar</string>
			</array>
			<key>MainClass</key>
			<string>com.zerog.lax.LAX</string>
			<key>Properties</key>
			<dict>
				<key>lax.stdin.redirect</key>
				<string>console</string>
				<key>lax.stdout.redirect</key>
				<string>console</string>
				<key>lax.stderr.redirect</key>
				<string>console</string>
				<key>com.apple.mrj.application.growbox.intrudes</key>
				<string>true</string>
				<key>lax.main.method</key>
				<string>main</string>
				<key>lax.root.install.dir</key>
				<string>/Applications/JXplorer</string>
				<key>lax.command.line.args</key>
				<string>$CMD_LINE_ARGUMENTS$</string>
				<key>lax.version</key>
				<string>5.5</string>
				<key>lax.main.class</key>
				<string>com.ca.directory.jxplorer.JXplorer</string>
			</dict>
			<key>VMOptions</key>
			<array>
				<string>-Xms2M</string>
				<string>-Xmx64M</string>
				<string>-Dcom.apple.macos.useScreenMenuBar=true</string>
			</array>
		</dict>
	</dict>
</plist>
