<html>
<head>
<title>newPilotPerson: Main Tab</title>
<style type="text/css">
<!--
h1 {  font-family: Arial, Helvetica, sans-serif; color: #006666}
body {  font-family: Arial, Helvetica, sans-serif}
-->
</style>
</head>
<body bgcolor="#ffffff">
<form name="Person">
  <table>
    <tr> 
      <td align="center" valign="top" colspan="2"> 
        <p><img src="../images/ca_logo.gif" width="200" height="45"/></p>
        <table border="0" cellpadding="0" cellspacing="0" width="300">
          <tr valign="top"> 
            <td><img name="main" src="../images/main2.gif" width="100" height="20" border="0"/></td>
            <td><a href="address.html"><img name="address" src="../images/address.gif" width="100" height="20" border="0"/></a></td>
            <td><a href="other.html"><img name="other" src="../images/other.gif" width="100" height="20" border="0"/></a></td>
          </tr>
        </table>
        <h1>newPilotPerson</h1>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Common Name:</td>
      <td width="230"> 
        <input type="text" name="cn" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Surname:</td>
      <td width="230"> 
        <input type="text" name="sn" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Personal Title:</td>
      <td width="230"> 
        <input type="text" name="personalTitle" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Description:</td>
      <td width="230"> 
        <input type="text" name="description" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">User Password:</td>
      <td width="230"> 
        <input type="password" name="userPassword" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Telephone Number:</td>
      <td width="230"> 
        <input type="text" name="telephoneNumber" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Home Phone Number:</td>
      <td width="230"> 
        <input type="text" name="homePhone" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Email Address:</td>
      <td width="230"> 
        <input type="text" name="mail" value=""/>
      </td>
    </tr>
    <tr> 
      <td align="right" valign="top"  width="200">Organizational Status:</td>
      <td width="230"> 
        <input type="text" name="organizationalStatus" value=""/>
      </td>
    </tr>
    <tr> 
      <td width="200"></td>
      <td width="230"> 
        <input type="submit" name="Submit" value="Submit"/>
        &#160; 
        <input type="reset"/>
      </td>
    </tr>
  </table>
</form>
</body>
</html>

